div{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
}

input {
    width: 70%; 
}

.cajas{
   background-color: red;
   width: 100px;
   height: 100px;
   margin: 10px;
   box-sizing: border-box;
   padding: 25px;
   border: 10px solid black;
}